<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>

</head>

<body>
<h2>{{ prediction }}<h2>
    <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="1"/>
        <br>
        <input type="text" name="2"/>
        <br>
        <input type="text" name="3"/>
        <br>
        <input type="text" name="4"/>
        <br>
        <input type="text" name="5"/>
        <br>
        <input type="text" name="6"/>
        <br>
        <input type="text" name="7"/>
        <br>
        <input type="text" name="8"/>
        <br>
        <input type="text" name="9"/>
        <br>
        <input type="text" name="10"/>
        <br>
        <input type="text" name="11"/>
        <br>
        <input type="text" name="12"/>
        <br>
        <input type="text" name="13"/>
        <br>
        
        <button type="submit">Predict</button>
    </form>
    <br>
    
</body>
</html>